body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.dark{
  background-color: black;
  color: white;
}
.light{
  background-color: white;
  color: black;
}
h1{
  color: green;
  margin-left: 40%;
}
#moon{
  height:  30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background-image: url(half-moon.png);
  background-size: cover;
}

.container {
  width: 50%;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-image: url(pexels-codioful-7130488.jpg);
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  height: 100px;
}

.form-group button {
  padding: 10px 20px;
  background-color: #007bff;
  /* color: #fff; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #0056b3;
}

